$flaticon_tripex-font: "flaticon_tripex";

@font-face {
    font-family: $flaticon_tripex-font;
    src: url("./flaticon_tripex.woff2?2976f0b69cb7e2b6ac7dddf1a3058ba2") format("woff2"),
url("./flaticon_tripex.woff?2976f0b69cb7e2b6ac7dddf1a3058ba2") format("woff"),
url("./flaticon_tripex.eot?2976f0b69cb7e2b6ac7dddf1a3058ba2#iefix") format("embedded-opentype"),
url("./flaticon_tripex.ttf?2976f0b69cb7e2b6ac7dddf1a3058ba2") format("truetype"),
url("./flaticon_tripex.svg?2976f0b69cb7e2b6ac7dddf1a3058ba2#flaticon_tripex") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_tripex !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon_tripex-map: (
    "field-trip": "\f101",
    "help": "\f102",
    "premium-badge": "\f103",
    "travel-agency": "\f104",
    "safe-flight": "\f105",
    "travel": "\f106",
    "investment": "\f107",
    "tent": "\f108",
    "kayak": "\f109",
    "bungee-jumping": "\f10a",
    "canoe": "\f10b",
    "zip-line": "\f10c",
    "cycling": "\f10d",
    "award-symbol": "\f10e",
    "quote": "\f10f",
    "airplane-travel-around-the-world": "\f110",
    "traveling": "\f111",
    "travel-and-tourism": "\f112",
    "man": "\f113",
    "school-bag": "\f114",
    "ribbon": "\f115",
    "travel-1": "\f116",
    "hiking": "\f117",
    "travel-2": "\f118",
    "affordable": "\f119",
    "booking": "\f11a",
    "destination": "\f11b",
    "rating": "\f11c",
    "experience": "\f11d",
    "airplane": "\f11e",
    "world": "\f11f",
    "tourist": "\f120",
    "email-marketing": "\f121",
    "letterbox": "\f122",
    "telephone": "\f123",
    "location": "\f124",
);

.flaticon-field-trip:before {
    content: map-get($flaticon_tripex-map, "field-trip");
}
.flaticon-help:before {
    content: map-get($flaticon_tripex-map, "help");
}
.flaticon-premium-badge:before {
    content: map-get($flaticon_tripex-map, "premium-badge");
}
.flaticon-travel-agency:before {
    content: map-get($flaticon_tripex-map, "travel-agency");
}
.flaticon-safe-flight:before {
    content: map-get($flaticon_tripex-map, "safe-flight");
}
.flaticon-travel:before {
    content: map-get($flaticon_tripex-map, "travel");
}
.flaticon-investment:before {
    content: map-get($flaticon_tripex-map, "investment");
}
.flaticon-tent:before {
    content: map-get($flaticon_tripex-map, "tent");
}
.flaticon-kayak:before {
    content: map-get($flaticon_tripex-map, "kayak");
}
.flaticon-bungee-jumping:before {
    content: map-get($flaticon_tripex-map, "bungee-jumping");
}
.flaticon-canoe:before {
    content: map-get($flaticon_tripex-map, "canoe");
}
.flaticon-zip-line:before {
    content: map-get($flaticon_tripex-map, "zip-line");
}
.flaticon-cycling:before {
    content: map-get($flaticon_tripex-map, "cycling");
}
.flaticon-award-symbol:before {
    content: map-get($flaticon_tripex-map, "award-symbol");
}
.flaticon-quote:before {
    content: map-get($flaticon_tripex-map, "quote");
}
.flaticon-airplane-travel-around-the-world:before {
    content: map-get($flaticon_tripex-map, "airplane-travel-around-the-world");
}
.flaticon-traveling:before {
    content: map-get($flaticon_tripex-map, "traveling");
}
.flaticon-travel-and-tourism:before {
    content: map-get($flaticon_tripex-map, "travel-and-tourism");
}
.flaticon-man:before {
    content: map-get($flaticon_tripex-map, "man");
}
.flaticon-school-bag:before {
    content: map-get($flaticon_tripex-map, "school-bag");
}
.flaticon-ribbon:before {
    content: map-get($flaticon_tripex-map, "ribbon");
}
.flaticon-travel-1:before {
    content: map-get($flaticon_tripex-map, "travel-1");
}
.flaticon-hiking:before {
    content: map-get($flaticon_tripex-map, "hiking");
}
.flaticon-travel-2:before {
    content: map-get($flaticon_tripex-map, "travel-2");
}
.flaticon-affordable:before {
    content: map-get($flaticon_tripex-map, "affordable");
}
.flaticon-booking:before {
    content: map-get($flaticon_tripex-map, "booking");
}
.flaticon-destination:before {
    content: map-get($flaticon_tripex-map, "destination");
}
.flaticon-rating:before {
    content: map-get($flaticon_tripex-map, "rating");
}
.flaticon-experience:before {
    content: map-get($flaticon_tripex-map, "experience");
}
.flaticon-airplane:before {
    content: map-get($flaticon_tripex-map, "airplane");
}
.flaticon-world:before {
    content: map-get($flaticon_tripex-map, "world");
}
.flaticon-tourist:before {
    content: map-get($flaticon_tripex-map, "tourist");
}
.flaticon-email-marketing:before {
    content: map-get($flaticon_tripex-map, "email-marketing");
}
.flaticon-letterbox:before {
    content: map-get($flaticon_tripex-map, "letterbox");
}
.flaticon-telephone:before {
    content: map-get($flaticon_tripex-map, "telephone");
}
.flaticon-location:before {
    content: map-get($flaticon_tripex-map, "location");
}
