body, 
#page {
  /* background: red; */
  width: 100% !important;
}
img {
  width: 100%;
}
.content-wrapper {
  width: 100% !important;
  

}

.heroimage {
  display: none;
  height: 100vh;
  width: 100vw;
}

.hero-content {


   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   background: #000000;
   opacity: 0.7;

}

.hero-title {
    display: flex;
    flex-direction: column;
    border: 1px solid #ffffff;
    padding: 30px;
    gap: 20px;
    width: 70vw;
    margin: 0 auto;
}


.hero-title h1 {
  font-size: var(--headlines-headline-XL-font-size) !important;
  font-weight: var(--default-default-strong-font-weight) !important;
  font-family: var(--headlines-headline-XL-font-family) !important;
  text-align: center;
  color: #ffffff;

}

.hero-title h2 {
  font-size: var(--XL-font-size) !important;
  font-weight: 100 !important;
  font-family: var(--headlines-headline-XL-font-family) !important;
  text-align: center;
  color: #ffffff;
}

.rbs-travel-container {
  display: flex;
  /* width: 70%; */
  /* padding-left: 10vw;
  padding-right: 10vw; */

  margin: 0 auto;
  /* gap: 50px; */
  border: 0px solid red;
  justify-content: space-between; 
}

.rbs-travel-container .content-left {
  /* border: 1px solid var(--brand-colors-primary-20); */
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  
}

.rbs-travel-container .content-right {
  /* border: 1px solid green; */
  
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: var(--brand-colors-secondary-80);
  
}


.rbsd-tabmenu .rbsd-tab {
  display: flex;
  border: 1px solid var(--brand-colors-primary-30);
  border-radius: 50px;
  padding: 20px;  
  height: 50px;
}

.rbsd-tabmenu .rbsd-tab:hover {
  display: flex;
  border: 3px solid var(--brand-colors-primary-30);
  /* background: var(--brand-colors-primary-30); */
  /* color: #ffffff; */
  border-radius: 50px;
  padding: 20px;  
} 

.rbsd-tabmenu .rbsd-tab img {
  width: 15px;
  height: 15px;
}

.rbs-travel-container .content-left-title p {
  position: relative;
  padding-left: 100px;

  font-family: var(--headlines-headline-font-family);
  font-weight: var(--headlines-headline-font-weight);
  color: var(--brand-colors-primary-20);
  font-size: var(--headlines-headline-XL-font-size) !important;
  letter-spacing: var(--headlines-headline-letter-spacing);
  line-height: var(--headlines-headline-line-height);
  font-style: var(--headlines-headline-font-style);
  margin: 50px 0px;
}

.days-column {
  display: flex;
  flex-direction: column;
  /* gap: 100px; */
}

.rbs-travel-container .rbsd-day-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: flex-start;
  gap: 40px;
  padding: 100px;
  position: relative;
  background-color: #ffffff;
}

.rbs-travel-container .rbsd-day-date {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--brand-colors-primary-20);
}

.rbs-travel-container .rbsd-day-date {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--brand-colors-primary-20);
}

.rbs-travel-container .text-wrapper-5 {
  flex: 1;
  position: relative;
  margin-top: -1.00px;
  font-family: var(--headlines-headline-font-family);
  font-weight: var(--headlines-headline-font-weight);
  color: #ffffff;
  font-size: var(--headlines-headline-font-size);
  letter-spacing: var(--headlines-headline-letter-spacing);
  line-height: var(--headlines-headline-line-height);
  font-style: var(--headlines-headline-font-style);
}

.rbs-travel-container .rbsd-day-open {
  position: relative;
  width: 58px;
  height: 45px;
}

.rbs-travel-container .rbsd-day-contentrow,
.rbs-travel-container .rbsd-day-contentrow-2 

 {
  border: 1px solid var(--brand-colors-primary-20);
  display: flex;
  flex-direction: column;
  height: 256px;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px #00000040;
  
}


.rbs-travel-container .rbsd-day-crbottom {
  display: flex;
  height: 187px;
  align-items: flex-start;
  gap: 40px;
  padding: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
}

.rbs-travel-container .rbsd-day-crbottom-2 {
  position: relative;
  width: 144px;
  height: 144px;
  object-fit: cover;
}
.rbs-travel-container .rbsd-day-crtitle {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--default-default-strong-font-family);
  font-weight: var(--default-default-strong-font-weight);
  color: var(--brand-colors-primary-20);
  font-size: var(--default-default-strong-font-size);
  letter-spacing: var(--default-default-strong-letter-spacing);
  line-height: var(--default-default-strong-line-height);
  white-space: nowrap;
  font-style: var(--default-default-strong-font-style);
  font-size: 24px;
  margin-bottom: 10px;
}
.rbs-travel-container .text-wrapper-6 {
  position: relative;
  width: 401px;
  margin-top: -1.00px;
  font-family: var(--default-default-strong-font-family);
  font-weight: var(--default-default-strong-font-weight);
  color: #ff7700;
  font-size: var(--default-default-strong-font-size);
  letter-spacing: var(--default-default-strong-letter-spacing);
  line-height: var(--default-default-strong-line-height);
  font-style: var(--default-default-strong-font-style);
}

.rbs-travel-container .rbsd-day-crbottom-3 {
  display: flex;
  flex-direction: column;
  width: 503px;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  position: relative;
  align-self: stretch;
  margin-right: -10.00px;
  background-color: #ffffff;
}

.rbs-travel-container .element-orange {
  position: relative;
  align-self: stretch;
  font-family: var(--normal-font-family);
  font-weight: var(--normal-font-weight);
  color: #ff7700;
  font-size: var(--normal-font-size);
  letter-spacing: var(--normal-letter-spacing);
  line-height: var(--normal-line-height);
  font-style: var(--normal-font-style);
}

.rbs-travel-container .text-wrapper-8 {
  position: relative;
  margin-bottom: 32px;
  align-self: stretch;
  font-family: var(--normal-font-family);
  font-weight: var(--normal-font-weight);
  color: #000000;
  font-size: var(--normal-font-size);
  letter-spacing: var(--normal-letter-spacing);
  line-height: var(--normal-line-height);
  font-style: var(--normal-font-style);
}

.rbs-travel-container .rbsd-dest-images-row {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  margin-bottom: 50px;
}

.rbs-travel-container .frame-3 {
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  background-color: #ffffff;
  margin-bottom: 40px;
}

.rbsd-idea-info {
  display: flex;
  margin-top: 44px;
  z-index: 10000;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;  
  gap: 50px;
}

.rbsd-idea-info-item {
  display: flex;
  width: 80%;
  background: #ffffff;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 10px;
  /* color: var(--brand-colors-primary-30); */
  color: var(--brand-colors-secondary-80);
  padding: 20px;
  border-radius: 30px;
  border: 1px solid var(--brand-colors-primary-30);
}

.rbsd-idea-info img {
  width: 45px;
  height: 45px;
}

/* .rbs-travel-container .img-2 {
  position: relative;
  width: 50%;
  height: 192px;
  object-fit: cover;
}  */

.rbsd-idea-contact-form {
  border-radius: 30px;
  padding-top: 20px;
  color: var(--brand-colors-primary-80);
  width: 80%;
  background: #ffffff;
  padding-left: 14px;
  padding-right: 14px;
  margin: 0 auto;
}

.rbsd-idea-contact-for .wpcf7-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.wpcf7 .wpcf7-text {
  border: 1px solid var(--brand-colors-primary-20);
  line-height: 26px;
  height: 26px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: var(--normal-font-family);
  font-weight: var(--normal-font-weight);
 
  letter-spacing: var(--normal-letter-spacing);
  line-height: var(--normal-line-height);
  font-style: var(--normal-font-style);  
}

.wpcf7-text::placeholder {
  color: var(--brand-colors-primary-80);
  font-family: var(--normal-font-family);
  font-weight: 200;
  opacity: 0.5;
}

.wpcf7-submit {
  /* background: var(--brand-colors-primary-30); */
  background: var(--brand-colors-secondary-80);
  line-height: 26px;
  width: 100%;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0px solid #ffffff;
}

.wpcf7-submit:hover {
  
  background: var(--brand-colors-primary-20);
}  

.rbs-inactivetabcontent {
  /* border: 2px solid red; */
  display: none;
}

.strong-style {
  font-weight: 600;
}

.rbs-activetabcontent {
  /* border: 2px solid green; */
}

/* .openclose .rbsd-day-contentrow, 
.openclose .rbsd-day-contentrow-2,
.openclose .rbsd-day-contentrow-3,
.openclose .rbsd-day-contentrow-4 {
  /* display: none !important;  
  border: 1px solid red !important;


} */

.openclose.rbsd-day-row

{
  display: flex;
  gap: 0px;
  /* display: none !important;  */
  /* border: 5px solid red !important; */
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.openclose .rbsd-day-contentrow, 
.openclose .rbsd-day-contentrow-2,
.openclose .rbsd-day-contentrow-3,
.openclose .rbsd-day-contentrow-4 {

  border: 1px solid red !important;


}

.openclose .rbsd-day-contentrow, 
.openclose .rbsd-day-contentrow-2,
.openclose .rbsd-day-contentrow-3,
.openclose .rbsd-day-contentrow-4 {

  display: none;


}




.rbsd-book-title {
  margin-top: 30px;
  color: var(--brand-colors-primary-20);
  font-weight: 600;
}



.rbsd-day-contentrow-3 {
  border: 1px solid var(--brand-colors-primary-20);
  padding: 50px;
  width: 100%;
  box-shadow: 0px 4px 4px #00000040;
}

.basic-tab-content {
  padding-left: 100px;
  padding-right: 100px;
  line-height: 26px;
}

.content-left-title  {
  background: #ededed;

}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (min-width: 1540px) {
  .rbs-travel-container .content-right {
    /* border: 1px solid green; */
    width:25%;
    padding-bottom: 100px;
    /* border: 5px solid green; */
  }

  .rbs-travel-container .content-left-title p {
    position: relative;
    padding-left: 100px;
  
    font-family: var(--headlines-headline-font-family);
    font-weight: var(--headlines-headline-font-weight);
    color: var(--brand-colors-primary-20);
    font-size: var(--headlines-headline-XL-font-size) !important;
    letter-spacing: var(--headlines-headline-letter-spacing);
    line-height: var(--headlines-headline-line-height);
    font-style: var(--headlines-headline-font-style);
    margin: 50px 0px;
  }  
  .rbsd-tabmenu {
    padding-left: 100px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    align-content: flex-start;  
  
  }

  .wpcf7-response-output {
    border-color: red !important;
}
  
   .wpcf7-response-output {
    border: 1px solid var(--brand-colors-primary-30) !important;
  }  
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 1539px) {
  .rbs-travel-container .content-right {
    /* border: 1px solid green; */
    /* border: 5px solid yellow; */
    width: 35%;
    padding-bottom: 100px;
  }

  .rbsd-tabmenu {
    padding-left: 100px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    align-content: flex-start;  
  
  }  

  .rbs-travel-container .content-left-title p {
    position: relative;
    padding-left: 100px;
  
    font-family: var(--headlines-headline-font-family);
    font-weight: var(--headlines-headline-font-weight);
    color: var(--brand-colors-primary-20);
    font-size: 64px !important;
    letter-spacing: var(--headlines-headline-letter-spacing);
    line-height: var(--headlines-headline-line-height);
    font-style: var(--headlines-headline-font-style);
    margin: 50px 0px;
  }  
}