html, body, div, p, table, tr, td, th, tbody, tfoot, ul, li, ol, dl, dd, dt, fieldset, blockquote, cite, input, select, textarea, button, section, article, aside, header, #main-footer, nav, span {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    color: #3c4251;
    font-weight: normal;
    line-height: 1.714em;
}
/*html {
        -webkit-font-smoothing: antialiased!important;
}*/
html, body {
    width: auto !important;
    overflow-x: hidden !important;
}
body {
    background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', serif;
    letter-spacing: -0.65px;
    text-transform: uppercase;
}
h4, h5, h6 {
    letter-spacing: 0;
}
h1 {
    font-size: 5.143em;
    font-weight: 900;
    margin-bottom: 0.65em;
    line-height: 0.85em;
}
h1 span {
    font-size: 1em;
    font-weight: 300;
    line-height: 1em;
}
.BGprime h1.text-center, .BGprime h1.text-center span, .BGprime h1.text-center small {
    color: #fff;
}
h1 small, h5 small {
    display: block;
    font-size: 0.35em;
    font-weight: 100;
    line-height: 1.35em;
    letter-spacing: 0;
    position: relative;
    text-transform: capitalize;
}
h1 small {
    margin-top: 1em;
    padding-top: 1em;
}
h1 small::before {
    position: absolute;
    content: '';
    width: 7em;
    height: 3px;
    top: 0;
    left: 0;
    display: block;
}
h1.text-center small::before {
    left: 50%;
    margin-left: -3.5em;
}
.BGprime h1.text-center small::before {
    background-color: #fff;
}
h2 {
    font-size: 2.143em;
    font-weight: 500;
    margin: 0;
    text-transform: capitalize;
}
h3 {
    font-size: 1.714em;
    font-weight: 400;
}
h4 {
    font-size: 1.50em;
    font-weight: 600;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-size: 1em;
}
h5 {
    font-size: 1.286em;
    font-weight: 600;
}
h5 small {
    text-transform: Capitalise;
    font-size: 0.65em;
    font-weight: 400;
    line-height: 1.65em;
}
h6 {
    font-size: 1em;
    font-weight: 600;
}
.white, .BGdark h1, .BGdark h1 small, .BGprime h1, .BGprime h1 small, .BGdark h1 span, .BGprime h1 span {
    color: #fff;
}
a {
    text-decoration: none;
}
a:hover, a:focus, a:visited {
    text-decoration: none;
}
:focus, :active {
    outline: none !important;
}
p {
    margin: 0.5em 0 1.5em;
}
img {max-width: 100%;}
.form-control {
    border-radius: 0;
    margin-bottom: 0.85em;
    font-size: 1em;
}
.required {
    color: #F30;
}
#contact input[type=submit] {
    display: block;
    font-family: 'FontAwesome', Roboto, Arial;
    margin: 1.5em auto;
}
span.error::after {
    position: absolute;
    left: 50%;
    top: 100%;
    content: '\f0d7';
    font-size: 2.35em;
    color: red;
    font-family: 'FontAwesome';
    line-height: 0;
    margin-left: -0.15em;
}
span.error {
    display: block;
    background-color: red;
    position: absolute;
    right: 0;
    bottom: 100%;
    font-size: 1em;
    color: #fff;
    padding: 0.30em 0.65em;
}
.clear {
    clear: both;
}
i {
    margin-right: 0.3em;
}
.btn {
    font-size: 1.15em;
    font-weight: 600;
    padding: 0.55em 1em;
    border: 0;
    border-radius: 0;
}
.btn:hover, .btn-primary, .btn-sec, .btn-dark, .btn:focus {
    color: #fff;
}
.btn-sm {
    font-size: 1em;
    padding: 0.35em 0.65em;
}
.btn-lg {
    font-size: 1.35em;
    text-transform: uppercase;
    padding: 0.65em 1em;
}
.btn i {
    margin: 0 0 0 0.35em;
}
ul.list-main {
    list-style-type: none;
    padding: 0;
    margin: 1.5em 0;
}
ul.list-main li {
    padding: 0 0 0 2.35em;
    margin-bottom: 0.65em;
    position: relative;
}
ul.list-main li:first-child {
    border: none;
}
ul.list-main li:before {
    display: block;
    content: "\f105";
    font-family: FontAwesome;
    font-size: 1em;
    position: absolute;
    left: 0;
    top: 0.15em;
    width: 1.65em;
    height: 1.65em;
    line-height: 1.65em;
    text-align: center;
}
a.top {
    display: none;
    color: #fff;
    text-align: center;
    padding: 0.8em 0.8em 1em 1.3em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    border-radius: 0.2em;
    position: fixed;
    right: 1em;
    bottom: 1em;
    opacity: 0.8;
    z-index: 999;
}
a.top:hover {
    opacity: 1;
}
.page-block {
    position: relative;
    padding: 6.35em 0;
}
.page-block-small {
    position: relative;
    padding: 3.5em 0;
}
.page-block-large {
    padding: 8em 0;
}
.page-block-full {
    padding: 5em;
}
.page-block-bottom {padding-bottom: 6.35em}
.abs {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 99;
}
i.prime {
    font-style: normal;
}
hr.light {
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-style: none none solid none;
    margin: 1.5em 0;
}
hr {
    border-color: rgba(0, 0, 0, 0.1);
}
/**
 * 14.2 Galleries
 */

.gallery {
    margin-bottom: 30px !important;
    margin-left: -15px !important;
    margin-right: -15px !important;
}
.gallery-item {
    display: inline-block;
    padding: 15px;
    text-align: center;
    vertical-align: top;
    width: 100%;
    margin-bottom: 0;
}
.gallery-columns-2 .gallery-item {
    max-width: 50%;
}
.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
    max-width: 25%;
}
.gallery-columns-5 .gallery-item {
    max-width: 20%;
}
.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}
.gallery-icon img {
    margin: 0 auto;
    width: 100%;
    border: none !important;
}
.gallery-caption {
    display: block;
    padding: 0.5em 0;
}
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
    display: none;
}
/**
 * 8.0 Alignments
 */

.alignleft {
    display: inline;
    float: left;
}
.alignright {
    display: inline;
    float: right;
}
.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
    margin: 0.4em 1.6em 1.6em 0;
}
blockquote.alignright,
.wp-caption.alignright,
img.alignright {
    margin: 0.4em 0 1.6em 1.6em;
}
blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
    clear: both;
    margin-top: 0.4em;
    margin-bottom: 1.6em;
}
.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
    margin-bottom: 1.2em;
}
/**
 * 14.1 Captions
 */

.wp-caption {
    margin-bottom: 1.6em;
    max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0;
}
.wp-caption-text {
    padding: 0.5em 0;
}

.widget-wrap select{
    width: 100%;
    max-width: 100%;
    padding: 6px 3px;
    line-height: 26px;
}

.widget-wrap .recentcomments a{
    display: inline-block;
}
.widget-wrap .recentcomments .comment-author-link{
    text-transform: capitalize;
    font-weight: 400;
}
.widget-wrap cite{
    margin-bottom: 15px;
    font-weight: 400;
    display: block;
}

/* Calendar widget */
.widget_calendar table {
    margin: 0;
    width: 100%;
}

.widget_calendar th{
    font-weight: 600;
}

.widget_calendar td,
.widget_calendar th {
    line-height: 2.5625;
    padding: 0;
    text-align: center;
}

.widget_calendar caption {
    margin-bottom: 1.75em;
}

.widget_calendar tbody a {
    background-color: #007acc;
    color: #fff;
    display: block;
    font-weight: 700;
}

.widget_calendar tbody a:hover,
.widget_calendar tbody a:focus {
    background-color: #686868;
    color: #fff;
}
.modal-dialog{
    z-index: 9999;
}
.modal-dialog .close.close-btn{
    opacity: 1;
}
.modal-dialog .close.close-btn > span{
    line-height: 25px;
    font-size: 22px;
}

.feature-box .title-1{
    line-height: 20px;
}
.title-wrap.text-left{
    text-align: left;
}
.title-wrap.text-left p{
    margin-left: 0;
}
.white-mask{
    z-index: 9;
}
.testimonials-content.text-center{
    position: relative;
    margin: 0;
    padding: 150px 0 80px;
    z-index: 99;
}
.testimonials-img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.woocommerce .price-list-wrap .star-rating{
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.woocommerce .form-group .form-control{
    
}
.woocommerce .form-group .form-control.select2-container{
    padding: 0;
}
.woocommerce .form-group .select2-container .select2-choice{
    border-radius: 0;
    padding:3px 5px;
}
.slider-form .form-control, 
.slider-form .form-group .ui-selectmenu-button{
    display: block;
}
.slider-form span.wpcf7-not-valid-tip{
    margin-bottom: 0;
    padding: 0 10px;
}
.slider-form  div.wpcf7-validation-errors{
    clear: both;
    color: #6e7882;
    display: none !important;
}
.contact-form  div.wpcf7 .ajax-loader,
.slider-form  div.wpcf7 .ajax-loader{
    position: absolute;
    right: 20px;
    top: 20px;
}
.contact-form .submit-btn{
    min-width: 100%;
}
.contact-form textarea.form-control{
    height: 150px;
}
.woocommerce div.product div.images .category-icon{

}
.woocommerce div.product div.images .category-icon img{
    display: inline-block;
    max-width: 75px;
}
.wpb_text_column ul,
.wpb_text_column ol,
.post-content > ul,
.post-content > ol{
    margin-bottom: 30px;
}
.comment-content ul,
.wpb_text_column ul,
.post-content > p > ul,
.post-content > ul,
.post-content > ol ul,
.post-content > ul ul{
    list-style: outside none square;
    margin-left: 20px;
    padding-left: 0;
}
.comment-content ol,
.post-content > ol,
.post-content > ol ol{
    list-style-type: number;
    margin-left: 20px;
}
ul ul, ol ul, ul ol, ol ol{
    clear: both;
}
ul ul ul ul ul ul{
    padding-left: 0;
    margin-left: 0;
}
.header-type-image img{
    width: 100%;
    height: auto;
}
.sticky-post.btn{
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    line-height: 1.5;
}
.widget-wrap .post-img img{
    min-width: 65px;
}