
@use "./../abstract";

.theme-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-family: $heading-font;
    font-size: 1rem;
    border-radius: 30px;
    transition: all .3s;
    & i{
        width: 36px;
        height: 36px;
        border-radius: 50%;
        font-size: 13px;
        margin-left: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s;
    }
    &:hover{
        & i{
            transform: rotate(-45deg);
        }
    }
    &.style-one{
        padding: 5px 5px 5px 25px;
        line-height: 20px;
        background-color: $primary-color;
        color: $white-color;
        justify-content: space-between;
        & i{
            background-color: $white-color;
            color: $primary-color;
            
        }
        &:hover{
            background-color: $secondary-color;
            & i{
                color: $secondary-color;
                transform: rotate(-45deg);
            }
        }
    }
    &.style-two{
        padding: 7px 5px 7px 25px;
        border: 1px solid $border-color;
        & i{
            background-color: $primary-color;
            color: $white-color;
        }
        &:hover{
            color: $white-color;
            background-color: $primary-color;
            border-color: transparent;
            & i{
                color: $primary-color;
                background-color: $white-color;
            }
        }
    }
}

.read-more{
    &.style-one{
        font-weight: 500;
        font-family: $body-font;
        & i{
            margin-left: 7px;
            transition: all .35s;
        }
        &:hover{
            color: $primary-color;
            text-decoration: underline;
            & i{
                margin-left: 10px;
            }
        }
    }
}

.play-btn{
    display: flex;
    align-items: center;
    color: $heading-color;
    & .icon{
        flex: 0 0 auto;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid $border-color;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: drop-shadow(10px 4px 60px rgba(169, 169, 169, 0.25));
        margin-right: 20px;
    }
    & span{
        text-decoration: underline;
        font-weight: 700;
        font-family: $heading-font;
    }
}

.icon-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $border-color;
    transition: all .3s;
    &.style-one{
        border-radius: 50%;
        & i{
            transform: rotate(-45deg);
            transition: all .3s;
        }
        &:hover{
            background-color: $primary-color;
            color: $white-color;
            & i{
                transform: rotate(0deg);
            }
        }
    }
}