

/*---- 

====================
01. Base CSS
    # Common CSS
====================

----*/ 


@use "./../abstract";


@media (min-width: 1451px) {
    .container{
        max-width: 1314px;
    }
}
@media (min-width: 1200px) and (max-width: 1450px) {
    .container{
        max-width: 1200px;
    }
}
.p-r{
    position: relative;
}
.bg_cover{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}
.font-200{
    font-weight: 200;
}
.form-group{
    position: relative;
}
label{
    margin-bottom: 0;
}
.form_control{
    width: 100%;
}
.text-white{
    p,
    h6,
    h5,
    h4,
    h3,
    h2,
    & h1{
        color: $white-color;
    }
}

.thin-200{
    font-weight: 200;
}

.sub-title{
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.02em;
    font-family: $accent-font;
    color: $secondary-color;
}

/* Section Title */ 

.section-title{
    & .sub-title{
        margin-bottom: 13px;
    }
    & h2{
        margin-bottom: 20px;
        @include respond(xxxl){
            font-size: 50px;
        }
        @include respond(lg){
            font-size: 40px;
            line-height: 55px;
        }
        @include respond(sm){
            font-size: 30px;
            line-height: 45px;
        }
    }
}

/* Check List */ 

.check-list{
    &.style-one{
        & li{
            display: flex;
            align-items: center;
            line-height: 1;
            &:not(:last-child){
                margin-bottom: 13px;
            }
            & i{
                margin-right: 10px;
                color: $primary-color;
            }
        }
    }
    &.style-two{
        & li{
            position: relative;
            padding-left: 15px;
            &:not(:last-child){
                margin-bottom: 10px;
            }
            &:before{
                position: absolute;
                top: 11px;
                left: 0;
                content: '';
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: $primary-color;
            }
        }
    }
}

/* Floatig Animation */

.animate-float-bob-x {
    animation-name: float-bob-x;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
.animate-float-bob-y {
    animation-name: float-bob-y;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

/* Rotate360 */ 

.rotate360 {
    -webkit-animation: spin 7s linear infinite;
            animation: spin 7s linear infinite;
}

/* ZoomInOut */ 

.zoomInOut{
    animation: zoomInOut 6s linear infinite;
}

/* Nice Select */ 

.nice-select{
    &:after{
        content: '\f107';
        font-family: 'Font Awesome 5 Pro';
        right: 0;
        position: absolute;
        top: 0;
    }
}

/* Ratings */ 

.ratings{
    & i{
        color: $secondary-color;
    }
}

/* Form Check & Radio */ 

.form-check{
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
    & label{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        cursor: pointer;
    }
}
.form-input-radio{
    position: relative;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $border-color;
    margin-right: 10px;
    &:checked{
        border-color: $secondary-color;
        &:after{
            position: absolute;
            content: '';
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $secondary-color;
        }
    }
}

/* Tripex Switch Box */

.tripex-switch-box{
    display: flex;
    align-items: center;
    & span{
        margin-right: 10px;
    }
    & .switch{
        display: inline-block;
        height: 26px;
        position: relative;
        width: 50px;
        & input{
            display: none;
            &:checked + .slider:before{
                transform: translateX(24px);
            }
        }
        & .slider{
            background-color: $secondary-color;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            margin-right: 0;
            cursor: pointer;
            &.round{
                border-radius: 15px;
            }
            &:before{
                background-color: $white-color;
                position: absolute;
                bottom: 3px;
                left: 3px;
                content: "";
                height: 20px;
                width: 20px;
                border-radius: 50%;
                transition: all .3s;
            }
        }
    }
}

/* Pagination */

.tripex-pagination{
    & ul{
        li{
            display: inline-block;
            margin-left: 2.5px;
            margin-right: 2.5px;
            & a{
                width: 45px;
                height: 45px;
                border: 1px solid $border-color;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                font-weight: 700;
                &:hover{
                    background-color: $primary-color;
                    color: $white-color;
                }
            }
        }
    }
}

/* Offcanvas Panel */

.tripex-offcanvas-panel {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
    max-width: 460px;
    height: 100%;
    padding: 20px 30px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: -460px;
    opacity: 0;
    visibility: hidden;
    background-color: $white-color;
    z-index: 9999;
    transition: all .3s;
    &.panel-on{
        visibility: visible;
        opacity: 1;
        margin-right: 0;
    }
    & .panel-header{
        padding-bottom: 20px;
        border-bottom: 1px solid $border-color;
        margin-bottom: 40px;
        & .panel-close-btn{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white-color;
            background-color: $secondary-color;
            cursor: pointer;
        }
    }
    & .panel-box{
        & .sidebar-tour-item{
            border-radius: 14px;
            overflow: hidden;
            & .thumbnail{
                position: relative;
                & img{
                    border-radius: 10px;
                    width: 100%;
                }
                & .features-tag{
                    position: absolute;
                    top: 25px;
                    left: 30px;
                    z-index: 1;
                }
                & .offer,
                & .tag-text{
                    background-color: $secondary-color;
                    color: $white-color;
                    padding: 8px 15px;
                    line-height: 1;
                    font-family: $heading-font;
                    font-weight: 600;
                    border-radius: 10px;
                }
                & .offer{
                    background-color: $primary-color;
                }
                & .hover-content{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 25px 30px 18px;
                    width: 100%;
                    height: 100%;
                    border-radius: 14px;
                    background: linear-gradient(180deg, rgba(17, 34, 28, 0.00) 0%, #11221C 100%);
                    display: flex;
                    align-items: flex-end;
                }
            }
            & .content{
                & h4{
                    color: $white-color;
                }
                & .ratings{
                    & a{
                        margin-left: 5px;
                        color: $white-color;
                    }
                }
            }
        }
        & .panel-info-list{
            flex-wrap: wrap;
            display: flex;
            width: 100%;
            margin: 0 -10px;
            overflow: hidden;
            border-bottom: 1px solid $border-color;
            padding-bottom: 40px;
            & .panel-info-box{
                width: 50%;
                padding: 0 10px;
                & .content{
                    & span{
                        & i{
                            color: $secondary-color;
                            margin-right: 7px;
                        }
                    }
                    & h5{
                        font-size: 18px;
                        font-weight: 600;
                        letter-spacing: -0.02em;
                    }
                }
            }
        }
        & form{
            padding-bottom: 20px;
        }
        & .form_control{
            border-radius: 28px;
            border: 1px solid $border-color;
            padding: 12px 170px 12px 25px;
        }
        & .theme-btn{
            position: absolute;
            right: 5px;
            top: 5px;
            padding: 5px 5px 5px 25px;
        }
    }
}



/*====== Start Back to top css ======*/

.back-to-top {
    border-radius: 50%;
    bottom: 30px;
    cursor: pointer;
    display: none;
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: fixed;
    right: 30px;
    text-align: center;
    text-decoration: none;
    transition: .3s;
    z-index: 337;
    color: $white-color;
    background-color: $primary-color;
    &:hover{
        background-color: $secondary-color;
    }
}