
@use "./../abstract";


.footer-widget{
    & .widget-title{
        margin-bottom: 20px;
        font-size: 16px;
    }
    & .footer-content{
        & .text-box{
            & span{
                & i{
                    color: $secondary-color;
                    margin-right: 10px;
                }
            }
        }
        & .social-box{
            & a{
                width: 36px;
                height: 36px;
                border-radius: 50%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                &:hover{
                    border-color: transparent;
                }
                &:not(:last-child){
                    margin-right: 5px
                }
            }
        }
    }
    &.footer-about-widget{
        & .footer-logo{
            margin-bottom: 20px;
        }
        & p{
            margin-bottom: 20px;
        }
        & .text-box{
            & span{
                & i{
                    color: $secondary-color;
                    margin-right: 10px;
                }
            }
        }
    }
    &.footer-nav-widget{
        & ul{
            & li{
                &:not(:last-child){
                    margin-bottom: 12px;
                }
                & a{
                    &:before{
                        width: 5px;
                        height: 5px;
                        display: inline-block;
                        content: '';
                        background-color: $primary-color;
                        border-radius: 50%;
                        vertical-align: middle;
                        margin-right: -5px;
                        visibility: hidden;
                        opacity: 0;
                        transition: all .3s;
                    }
                    &:hover{
                        color: $heading-color;
                        text-decoration: underline;
                        &:before{
                            margin-right: 7px;
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    &.footer-newsletter-widget{
        & .footer-content{
            & p{
                margin-bottom: 20px;
            }
            & .form_control{
                border-radius: 14px;
                border: 1px solid $border-color;
                padding: 12px 25px;
                margin-bottom: 10px;
            }
        }
    }
    &.footer-social-widget{
        & .footer-content{
            & ul{
                & li{
                    display: inline-block;
                    &:not(:last-child){
                        margin-right: 10px;
                        @include respond(xxxl){
                            margin-right: 5px;
                        }
                    }
                    & a{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 36px;
                        height: 36px;
                        border-radius: 50%;
                        border: 1px solid $border-color;
                        font-size: 14px;
                        &:hover{
                            background-color: $secondary-color;
                            color: $white-color;
                            border-color: transparent;
                        }
                    }
                }
            }
        }
    }
}


.copyright-area{
    border-top: 1px solid $border-color;
    padding: 20px 0;
    & .copyright-text{
        @include respond(lg){
            text-align: center;
            margin-bottom: 15px;
        }
        & .copyright{
            color: $secondary-color;
        }
        & .company{
            color: $primary-color;
        }
    }
    & .copyright-nav{
        float: right;
        @include respond(lg){
            float: none;
            text-align: center;
        }
        & a{
            &:hover{
                color: $primary-color;
            }
            &:not(:last-child){
                margin-right: 20px;
                @include respond(md){
                    margin-right: 7px;
                }
            }
            @include respond(md){
                margin-right: 7px;
                margin-left: 7px;
            }
        }
    }
}

.copyright-social{
    display: inline-flex;
    & a{
        width: 36px;
        height: 36px;
        border-radius: 50%;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


/* Default Footer */ 

.default-footer{
    & .big-text{
        padding: 20px 0 75px;
    }
}

/* Footer Curve Shape */ 

.default-footer-curve{
    position: relative;
    z-index: 1;
    padding-bottom: 75px;
    @include respond(md){
        padding-bottom: 30px;
    }
    & .svg-shape-wrapper{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 265px;
        z-index: -1;
        @include respond(md){
            height: 120px;
        }
        & svg{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            use{
                animation: wave 7s linear infinite;
                &:nth-child(2){ 
                    animation-duration: 5s; animation-delay:-1.5s; 
                }
            }
        }
    }
    & .copyright-area{
        border: none;
        padding-top: 57px;
        @include respond(md){
            padding-top: 30px;
        }
    }
}


/* Footer Two */ 


.footer-v2{
    background-color: #11221C;
    margin: 30px 20px 20px;
    border-radius: 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    @include respond(md){
        margin: 30px 10px 20px;
    }
    & .footer-bg{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 5000%;
        height: 35%;
        background-repeat: repeat-x;
        background-size: contain;
        animation: translateBg 40s linear infinite;
        opacity: 0.05;
    }
    & .footer-cta{
        position: relative;
        z-index: 1;
        padding-top: 85px;
        padding-bottom: 100px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
        @include respond(md){
            padding: 45px 0 50px;
        }
        & .shape{
            position: absolute;
            z-index: -1;
            @include respond(xxxl){
                & img{
                    width: 70%;
                }
            }
            @include respond(xl){
                display: none;
            }
            &.shape-one{
                top: 150px;
                left: 80px;
                @include respond(xxxl){
                    top: 50px;
                    left: 30px;
                }
            }
            &.shape-two{
                right: 190px;
                top: 190px;
                @include respond(xxxl){
                    right: 0;
                    top: 90px;
                }
            }
        }
        & .cta-content-box{
            & h2{
                color: $white-color;
                margin-bottom: 30px;
                @include respond(xxxl){
                    font-size: 45px;
                    line-height: 55px;
                }
                @include respond(xl){
                    font-size: 38px;
                    line-height: 50px;
                }
                @include respond(md){
                    font-size: 28px;
                    line-height: 40px;
                }
            }
            & p{
                font-size: 24px;
                color: $white-color;
                margin-bottom: 40px;
                @include respond(md){
                    font-size: 16px;
                    line-height: 30px;
                }
                & span{
                    background-color: $secondary-color;
                    padding: 5px 9px;
                    border-radius: 20px;
                    line-height: 1;
                    font-weight: 600;
                }
            }
        }
    }
    & .footer-widget{
        color: rgba(255, 255, 255, 0.65);
        & .widget-title{
            color: $white-color;
        }
        &.footer-about-widget{
            padding-right: 100px;
            & .text-box{
                & h4{
                    color: $white-color;
                }
            }
        }
        &.footer-nav-widget{
            & ul{
                & li{
                    & a{
                        &:hover{
                            color: $white-color;
                        }
                        &:before{
                            background-color: $secondary-color;
                        }
                    }
                }
            }
        }
        &.footer-newsletter-widget{
            padding-left: 70px;
            @include respond(xl){
                padding-left: 0;
            }
            & .form_control{
                border: 1px solid rgba(255, 255, 255, 0.10);
                background-color: transparent;
                max-width: 300px;
                color: $white-color;
                &::placeholder{
                    color: $white-color;
                }
            }
        }
    }
    & .copyright-area{
        border-color: rgba(255, 255, 255, 0.10);
        & .copyright-text{
            & p{
                color: rgba(255, 255, 255, 0.65);
            }
        }
        & .copyright-social{
            justify-content: flex-end;
            float: right;
            @include respond(lg){
                display: none;
            }
            & a{
                border: 1px solid rgba(255, 255, 255, 0.10);
                color: rgba(255, 255, 255, 0.65);
                &:hover{
                    background-color: $primary-color;
                    color: $white-color;
                }
                &:not(:last-child){
                    margin-right: 10px;
                }
            }
        }
    }
}


/* Footer Three */ 

.footer-v3{
    position: relative;
    background-color: $primary-black-color;
    z-index: 1;
    & .footer-top{
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
        @include respond(lg){
            text-align: center;
            padding: 30px;
        }
        & .footer-top-content{
            padding: 50px 0 50px 70px;
            border-left: 1px solid rgba(255, 255, 255, 0.10);
            @include respond(lg){
                padding: 0;
                border-left: none;
            }
            & h3{
                font-size: 35px;
                line-height: 45px;
                letter-spacing: -0.02em;
                color: $white-color;
                @include respond(xl){
                    font-size: 24px;
                    line-height: 40px;
                }
                @include respond(lg){
                    margin-bottom: 30px;
                }
            }
            & .theme-btn{
                &.style-one{
                    padding: 5px 5px 5px 15px;
                }
            }
        }
    }
    & .copyright-area{
        border-color: rgba(255, 255, 255, 0.10);
    }
    & .footer-widget{
        & .footer-content{
            color:rgba(255, 255, 255, 0.65);
            & .widget-title{
                color: $white-color;
            }
            & .text-box{
                & h5{
                    color: $white-color;
                }
            }
            
        }
        &.footer-about-widget{
            & .footer-content{
                & .social-box{
                    & a{
                        border:1px solid rgba(255, 255, 255, 0.65);
                        color:rgba(255, 255, 255, 0.65);
                        &:hover{
                            background-color: $secondary-color;
                            color: $white-color;
                            border-color: transparent;
                        }
                    }
                }
            }
        }
        &.footer-nav-widget{
            padding-left: 100px;
            @include respond(xxxl){
                padding-left: 30px;
            }
            @include respond(xl){
                padding-left: 0;
            }
            & ul{
                & li{
                    & a{
                        color:rgba(255, 255, 255, 0.65);
                        &:hover{
                            color: $white-color;
                        }
                        &:before{
                            background-color: $secondary-color;
                        }
                    }
                }
            }
        }
        &.footer-newsletter-widget{
            & .form_control{
                border: 1px solid rgba(255, 255, 255, 0.10);
                background-color: transparent;
                font-weight: 400;
                color: rgba(255, 255, 255, 0.35);
                border-radius: 30px;
                &::placeholder{
                    color: rgba(255, 255, 255, 0.35);
                }
            }
            & .icon-btn{
                &.style-one{
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    width: 36px;
                    height: 36px;
                    font-size: 14px;
                    background-color: $secondary-color;
                    color: $white-color;
                    border-color: transparent;
                }
            }
        }
    }
}

/* Footer 404 */ 

.footer-404{
    & .copyright-area{
        padding: 20px 0;
    }
}