
@use "./../abstract";

/* Transparent Header */ 
.transparent-header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

/* Tripex Dropdown */ 

.tripex-dropdown{
    position: relative;
    &:hover{
        & .dropdown{
            opacity: 1;
            display: block;
            visibility: visible;
            margin: 6px 0 0 0;
        }
    }
    & i{
        color: $heading-color;
    }
    & .dropdown{
        transition: all 0.3s ease-in-out;
        min-width: 100px;
        padding: 10px 15px;
        margin: 25px 0 0 0;
        position: absolute;
        z-index: 16;
        text-align: left;
        opacity: 0;
        visibility: hidden;
        left: 0;
        right: auto;
        background: $white-color;
        box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.07);
        border: 1px solid $border-color;
        display: block;
        border-radius: 10px;
        & a{
            transition: all 0.3s ease-in-out;
            font-weight: 400;
            &:hover{
                color: $primary-color;
            }
        }
    }
}

/* Header Three */ 

.header-top-bar{
    @include respond(xxxl){
        font-size: 14px;
    }
    & .top-left{
        & span{
            color: $heading-color;
            & i{
                margin-right: 7px;
            }
            &:not(:last-child){
                margin-right: 25px;
            }
        }
    }
    & .top-text{
        & p{
            & a{
                color: $secondary-color;
            }
        }
    }
    & .top-right{
        display: inline-flex;
        float: right;
        & span{
            margin-right: 30px;
            & i{
                margin-right: 7px;
                color: $heading-color;
            }
            & a{
                font-weight: 600;
            }
            &:hover{
                & a{
                    color: $heading-color;
                }
            }
        }
    }
}


/* Header Navigation */

.header-navigation{
    @include respond(xl){
        padding: 20px 0;
    }
    & .primary-menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    & .main-menu{
        & ul{
            & > li{
                display: inline-block;
                position: relative;
                margin-left: 17px;
                margin-right: 17px;
                @include respond(xl){
                    margin-left: 10px;
                    margin-right: 10px;
                }
                & > a {
                    position: relative;
                    display: block;
                    font: 600 18px $heading-font;
                    text-transform: capitalize;
                    line-height: 1;
                    color: $heading-color;
                    padding: 40px 0;
                    @include respond(xl){
                        font-size: 16px;
                    }
                    & span.dd-trigger{
                        margin-left: 5px;
                    }
                }
                & .sub-menu {
                    position: absolute;
                    left: 0;
                    top: 120%;
                    width: 250px;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.2s;
                    z-index: 99;
                    padding: 10px 0;
                    background-color: $white-color;
                    height: auto;
                    text-align: left;
                    box-shadow: 0px 30px 80px 15px rgba(0, 0, 0, 0.09);
                    border-radius: 7px;
                    & li {
                        display: block;
                        margin: 0;
                        & a {
                            display: flex;
                            align-items: center;
                            padding: 0 30px;
                            position: relative;
                            line-height: 2.5;
                            margin: 0;
                            color: $heading-color;
                            @include transition(.3s);
                            & span.dd-trigger{
                                margin-left: auto;
                            }
                            &::after{
                                display: none;
                            }
                            &:hover {
                                color: $primary-color;
                            }
                        }
                        & .sub-menu {
                            left: 100%;
                            top: 50%;
                            @include respond(tablet){
                                left: auto;
                                right: 100%;
                                top: 50%;
                            }
                            @include respond(laptop){
                                left: auto;
                                right: 100%;
                                top: 50%;
                            }
                        }
                        &:hover {
                            & .sub-menu {
                                top: 0%;
                            }
                            & > a{
                                margin-left: 5px;
                                color: $secondary-color;
                            }
                        }
                    }
                }
                &:hover {
                    & > a{
                        color: $secondary-color;
                        &:after{
                            left: 0;
                            right: auto;
                            width: 100%;
                        }
                    }
                    & > .sub-menu {
                        opacity: 1;
                        visibility: visible;
                        top: 100%;
                    }
                }
            }
		}
    }
    & .navbar-toggler {
		padding: 11px 7px;
		border: 1px solid $heading-color;
		background-color: transparent;
		cursor: pointer;
        display: none;
        border-radius: 5px;
        margin-left: 20px;
		& span {
			position: relative;
			border-radius: 3px;
			display: block;
			height: 2px;
			padding: 0;
			width: 30px;
			cursor: pointer;
			display: block;
            @include transition(.3s);
            background-color: $heading-color;
            &:not(:first-child){
                margin-top: 5px;
            }
		}
		&.active {
			span:nth-of-type(1) {
				transform: rotate3d(0, 0, 1, 45deg);
				top: 7px;
			}
			span:nth-of-type(2) {
				opacity: 0;
			}
			span:nth-of-type(3) {
				transform: rotate3d(0, 0, 1, -45deg);
				top: -7px;
			}
		}
	}
    @include respond(xl){
        & .theme-nav-menu{
            text-align: left;
            position: fixed;
            top: 0;
            left: -290px;
            width: 290px;
            height: 100%;
            transition-duration: 500ms;
            padding: 20px 20px 30px;
            display: block;
            overflow-x: hidden;
            overflow-y: scroll;
            z-index: 9999;
            background-color: $white-color;
            &.menu-on {
                left: 0;
            }
            & .main-menu {
                margin-top: 30px;
                & ul li {
                    display: block;
                    margin: 0;
                    &:not(:last-child){
                        border-bottom: 1px solid $border-color;
                    }
                    & a {
                        display: block;
                        padding: 12px 0;
                        font-size: 18px;
                        &:after{
                            display: none;
                        }
                    }   
                    & .sub-menu {
                        width: 100%;
                        position: relative;
                        top: 0;
                        left: 0;
                        padding: 0;
                        box-shadow: none;
                        background-color: transparent;
                        visibility: visible;
                        opacity: 1;
                        display: none;
                        transition: none;
                        & > li {
                            & > a{
                                padding: 5px 20px;
                            }
                            & .sub-menu{
                                width: 100%;
                                position: relative;
                                top: 0;
                                left: 0;
                                padding: 0;
                                box-shadow: none;
                                background-color: transparent;
                                visibility: visible;
                                opacity: 1;
                                display: none;
                                transition: none;
                                margin-left: 30px;
                            }
                        }
                    }
                    & .dd-trigger {
                        position: absolute;
                        right: 0;
                        top: 10px;
                        height: 25px;
                        width: 25px;
                        border-radius: 3px;
                        z-index: 2;
                        cursor: pointer;
                        font-size: 16px;
                    }
                }
            }
        }
        & .navbar-close{
            width: 35px;
            height: 35px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $border-color;
            font-size: 16px;
        }
        & .navbar-toggler{
            display: block;
        }
        & .theme-menu-bottom{
            & h5{
                margin-bottom: 25px;
            }
            & .social-link{
                & li{
                    display: inline-block;
                    margin-right: 10px;
                    & a{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        border: 1px solid $border-color;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &:hover{
                            background-color: $primary-color;
                            color: $white-color;
                        }
                    }
                }
            }
        }
    }
}

/* Nav Right Item */ 
.nav-right-item{
    display: flex;
    align-items: center;
    & .offcanvas-toggle{
        margin-left: 30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s;
        width: 50px;
        height: 50px;
        background-color: $secondary-color;
        border-radius: 7px;
        @include respond(xl){
            width: 40px;
            height: 40px;
            display: none;
        }
        & .toggle-inner{
            position: relative;
            width: 30px;
            height: 30px;
            @include respond(xl){
                width: 25px;
                height: 25px;
            }
            & span{
                display: inline-block;
                position: absolute;
                width: 5px;
                height: 5px;
                left: 0;
                top: 0;
                background-color: $white-color;
                transition: all .3s;
                @include respond(xl){
                    width: 4px;
                    height: 4px;
                }
                &:nth-child(1){
                    transform: translate(0px, 0px);
                }
                &:nth-child(2){
                    left: 50%;
                    transform: translate(-50%, 0px);
                }
                &:nth-child(3){
                    left: 100%;
                    transform: translate(-100%, 0px);
                }
                &:nth-child(4){
                    top: 50%;
                    transform: translate(0, -50%);
                }
                &:nth-child(5){
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &:nth-child(6){
                    top: 50%;
                    left: 100%;
                    transform: translate(-100%, -50%);
                }
                &:nth-child(7){
                    top: 100%;
                    transform: translate(0, -100%);
                }
                &:nth-child(8){
                    top: 100%;
                    left: 50%;
                    transform: translate(-50%, -100%);
                }
                &:nth-child(9){
                    top: 100%;
                    left: 100%;
                    transform: translate(-100%, -100%);
                }
            }
            
        }
        &:hover{
            & .toggle-inner{
                & span{
                    &:nth-child(1){
                        left: 0;
                        top: 50%;
                        transform: translate(0, -50%);
                    }
                    &:nth-child(2){
                        left: 0;
                        top: 0;
                        transform: translate(0px, 0px);
                    }
                    &:nth-child(3){
                        left: 50%;
                        top: 0;
                        transform: translate(-50%, 0px);
                    }
                    &:nth-child(4){
                        left: 0;
                        top: 100%;
                        transform: translate(0, -100%);
                    }
                    &:nth-child(6){
                        left: 100%;
                        top: 0;
                        transform: translate(-100%, 0px);
                    }
                    &:nth-child(7){
                        left: 50%;
                        top: 100%;
                        transform: translate(-50%, -100%);
                    }
                    &:nth-child(8){
                        left: 100%;
                        top: 100%;
                        transform: translate(-100%, -100%);
                    }
                    &:nth-child(9){
                        left: 100%;
                        top: 50%;
                        transform: translate(-100%, -50%);
                    }
                }
            }
        }
    }
}

.header-one{
    position: relative;
    z-index: 999;
    @include respond(xl){
        z-index: 9999;
    }
    & .header-navigation{
        @include respond(xl){
            padding: 15px 20px;
        }
    }
    & .container-fluid{
        padding-left: 0;
        padding-right: 0;
    }
    & .site-branding{
        padding: 40px 150px 40px 70px;
        width: 20%;
        border-radius: 0 100px 100px 0;
        background-color: $gray-color;
        @include respond(xxxl){
            padding: 40px 100px 40px 35px;
        }
        @include respond(xl){
            width: auto;
            padding: 0;
            background-color: inherit;
            max-width: 150px;
            border-radius: 0;
        }
    }
    & .nav-inner-menu{
        position: relative;
        display: flex;
        align-items: center;
        flex-grow: 1;
        border: 1px solid rgba(115, 180, 88, 0.20);
        border-radius: 100px 0px 0px 100px;
        padding-left: 50px;
        padding-right: 50px;
        background-color: $white-color;
        margin-left: -70px;
        z-index: 1;
        & .nav-right-item{
            margin-left: auto;
        }
        @include respond(xl){
            margin-left: 0;
            background-color: inherit;
            border: none;
            padding: 0;
            border-radius: 0;
        }
    }
}

/* Header Two */

.header-two{
    padding: 0 40px;
    @include respond(md){
        padding: 0;
    }
    &.transparent-header{
        top: 25px;
        @include respond(md){
            top: 0;
        }
    }
    &.transparent-header{
        z-index: 999;
        @include respond(xl){
            z-index: 9999;
        }
    }
    & .header-navigation{
        & .main-menu{
            & ul{
                & > li{
                    & > a {
                        color: $white-color;
                        @include respond(xl){
                            color: $heading-color;
                        }
                    }
                    & .sub-menu {
                        background-color: $white-color;
                        @include respond(xl){
                           background-color: $white-color;
                        }
                        & li {
                            & a {
                                color: $heading-color;
                                @include respond(xl){
                                    color: $heading-color;
                                }
                                &:hover {
                                    color: $primary-color;
                                }
                            }
                            &:hover {
                                & > a{
                                    color: $primary-color;
                                }
                            }
                        }
                    }
                    &:hover {
                        & > a{
                            color: $primary-color;
                        }
                    }
                }
            }
        }
        & .navbar-toggler{
            @include respond(xl){
                border-color: rgba(255, 255, 255, .8);
            }
            & span{
                @include respond(xl){
                    background-color: rgba(255, 255, 255, .8);
                }
            }
        }
    }
}

/* Header Three */ 

.header-three{
    margin: 20px;
    border: 1px solid $border-color;
    border-radius: 15px;
    @include respond(md){
        margin: 10px;
    }
    & .header-top-bar{
        padding: 7px 25px;
        border-bottom: 1px solid $border-color;
        @include respond(xxxl){
            padding: 7px 15px;
        }
        @include respond(xl){
            display: none;
        }
    }
    & .header-navigation{
        padding: 0 15px;
        @include respond(xl){
            padding: 20px 15px;
        }
        & .main-menu{
            & ul{
                & > li{
                    & > a{
                        padding: 28px 0;
                        @include respond(xl){
                            padding: 12px 0;
                        }
                    }
                }
            }
        }
    }
}