
@use "./../abstract";

/* Preloader CSS */ 

.preloader{
    bottom: 0;
    height: 100vh;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white-color;
    & .loader{
        & img{
            width: 150px;
            height: 150px;
        }
    }
}