
// Font Family

$heading-font: var(--heading-font);

$body-font: var(--body-font);

$accent-font: var(--accent-font);


// Font Size

$h1-font: 75px;

$h2-font: 55px;

$h3-font: 24px;

$h4-font: 22px;

$h5-font: 20px;

$h6-font: 18px;

$font-22: var(--font-22);

$font-18: var(--font-18);

$font-16: var(--font-16);