
.leaflet-popup {
    max-width: 400px; /* Adjust this value based on your needs */
    max-height: 300px;
    overflow-y: scroll;
}
.leaflet-popup-content {
    font-size: 20px;
}
.leaflet-popup-content img {
    max-width: 100%;
}
.leaflet-popup-content p {
    font-size: 14px;
}


.numbered-marker {
    background-color: #2A81CB;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 2px solid white;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    font-size: 16px;
}



#rbstravel-idea__distance {
    padding: 15px;
    text-align: center;
    font-size: 16px;    
}
#rbstravel-idea__distance-value {
    font-weight: bold;
    /* text-decoration: underline; */
}












/** Disable, when you want to show route descripton at top/right **/
.leaflet-routing-container {
    display: none;
}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (min-width: 1540px) {
    /* #rbstravel-idea__fullmap-container {

        margin-top: -250px;
        margin-bottom: 50px;
        height: 800px;

        color: #ffffff;
    }
    
    .leaflet-container {
        border-radius: 30px;
        margin: 50px;
        height: 800px;
        width: auto;

        max-width: 100%;
        max-height: 100%;    
    } */

    #rbstravel-idea__fullmap-container {

        margin-top: 0px;
 
        height: 400px;
        width: 400px;
        color: #ffffff;
    }
    
    .leaflet-container {
        border-radius: 30px !important;
 
        height: 400px !important;
        width: 362px !important;

        max-width: 100% !important;
        max-height: 100% !important;    
    }    

    
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 1539px) {
    #rbstravel-idea__fullmap-container {
        /* border: 1px solid #000000; */
        /* box-shadow: 0px 4px 4px #00000040; */
        /* margin-top: -120px; */
        
        margin-bottom: 50px;
        height: 300px;
    
        /* background: var(--brand-colors-primary-30); */
        
        color: #ffffff;
    }
    
    .leaflet-container {
        border-radius: 30px;
        margin: 50px;
        height: 300px;
        width: auto;
        /* height: 400px;
        width: 100%; */
        max-width: 100%;
        max-height: 100%;    
    }
  }