/* ===========================================
   ROADBOOK TIMELINE - WordPress Travellers Style
   =========================================== */

/* Main Section */
.roadbook-animated-timeline-section {
    width: 100%;
    background: linear-gradient(to bottom, var(--brand-primary, #84cc16) 300px, #f9fafb 300px);
    position: relative;
    overflow: visible;
}

/* Header */
.roadbook-timeline-header {
    text-align: center;
    padding: 60px 20px 80px;
    color: white;
}

.roadbook-timeline-header h2 {
    font-size: 3rem;
    font-weight: 300;
    margin: 0 0 10px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.roadbook-timeline-header h2 strong {
    font-weight: 700;
}

.roadbook-timeline-header p {
    font-size: 1.1rem;
    opacity: 0.9;
    margin: 0;
}

/* ===========================================
   ITINERARY WRAP - Main Container
   =========================================== */
#itinerary-wrap {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 100px;
}

/* Road as background on itinerary-wrap */
#itinerary-wrap::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    width: 74px;
    background: #6b7280;
    margin-left: -37px;
    border-radius: 100px;
    z-index: 0;
    pointer-events: none;
}

/* White dashed line as second pseudo-element */
#itinerary-wrap::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    width: 3px;
    margin-left: -1.5px;
    background-image: repeating-linear-gradient(
        to bottom,
        #fff 0px,
        #fff 15px,
        transparent 15px,
        transparent 30px
    );
    z-index: 1;
    pointer-events: none;
}

/* ===========================================
   TUBE - Gray Road Background
   =========================================== */
/* Hide original tube div - using pseudo-element instead */
.tube {
    display: none;
}

.tube .start {
    position: absolute;
    top: 1.5em;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 0.9em;
}

.tube .end {
    position: absolute;
    bottom: 1.5em;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 0.9em;
}

/* ===========================================
   LINE - White Dashed Center Line
   =========================================== */
/* Hide original line div - using pseudo-element instead */
.line {
    display: none;
}

/* ===========================================
   CAR - Animated Car
   =========================================== */
/* Car - WordPress exact styling */
#car {
    display: block;
    width: 39px;
    height: 75px;
    position: absolute;
    left: 50%;
    z-index: 99;
    margin-left: -18px;
    pointer-events: none;
}

#car.trigger {
    display: block;
    position: fixed;
    width: 39px;
    height: 75px;
    top: 50%;
    left: 50%;
    z-index: 999999999;
    margin-left: -18px;
    margin-top: -37px;
}

#car img {
    width: 100%;
    height: auto;
    display: block;
}

/* ===========================================
   ITINERARY - Contains Days
   =========================================== */
.itinerary {
    position: relative;
}

/* Road using pseudo-elements - DISABLED, using inline divs instead */
.itinerary::before,
.itinerary::after {
    display: none !important;
}

/* ===========================================
   DAY - Each Day Item (WordPress exact copy)
   =========================================== */
.day {
    position: relative;
    overflow: visible;
}

/* Day badge - WordPress exact styling */
.day .dayNum {
    display: block;
    position: absolute;
    top: 50%;
    width: 6em;
    height: 6em;
    line-height: 4.65em;
    font-size: 1.15em;
    font-weight: 600;
    border: 0.65em solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background: var(--brand-primary, #84cc16);
    margin-top: -3.65em;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    z-index: 99;
}

.day .left {
    display: block;
    position: relative;
    float: left;
    width: 50%;
}

.day .right {
    display: block;
    position: relative;
    float: right;
    width: 50%;
}

/* Clear floats */
.clear {
    clear: both;
}

/* ===========================================
   PLACE INFO - Text Content Side
   =========================================== */
.day .placeInfo {
    background-color: #fff;
    min-height: 400px;
}

.day .right.placeInfo {
    padding: 3.5em 3.5em 7em 5.65em;
}

.day .left.placeInfo {
    padding: 3.5em 5.65em 7em 3.5em;
}

.day .placeInfo h3 {
    font-size: 1.8em;
    font-weight: 700;
    color: #111827;
    margin: 0 0 0.5em 0;
}

.day .placeInfo > span {
    display: block;
    color: #6b7280;
    margin-bottom: 1em;
    font-size: 1em;
}

.day .placeInfo p {
    font-size: 1em;
    line-height: 1.7;
    color: #4b5563;
    margin-bottom: 1.5em;
}

/* ===========================================
   DAY NUMBER BADGE - Circle on Road
   =========================================== */
.day .dayNum {
    display: block;
    position: absolute;
    top: 50%;
    width: 6em;
    height: 6em;
    line-height: 4.65em;
    font-size: 1.15em;
    font-weight: 600;
    border: 0.65em solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background: var(--brand-primary, #84cc16);
    margin-top: -3em;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.day .right .dayNum {
    left: -3em;
    right: auto;
}

.day .left .dayNum {
    right: -3em;
    left: auto;
}

/* ===========================================
   HIGHLIGHTS LIST
   =========================================== */
.day ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.day ul li {
    display: block;
    float: left;
    width: 50%;
    position: relative;
    padding: 1.5em 1.5em 1.5em 3em;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.day ul li:first-child,
.day ul li:nth-child(2) {
    border: none;
}

.day ul li i {
    position: absolute;
    left: 0;
    top: 1.55em;
    font-size: 1.65em;
    color: var(--brand-primary, #84cc16);
}

.day ul li h6 {
    text-transform: capitalize;
    margin-bottom: 0.35em;
    font-size: 1em;
    font-weight: 600;
    color: #111827;
}

.day ul li span {
    font-size: 0.9em;
    color: #6b7280;
}

/* ===========================================
   TOUR DELIGHT BANNER
   =========================================== */
.day .delight {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--brand-primary, #84cc16);
    color: #fff;
    padding: 1.65em 1.5em;
}

.day .right .delight {
    padding-left: 8.50em;
}

.day .left .delight {
    padding-left: 6.15em;
}

.day .delight i {
    position: absolute;
    top: 0.95em;
    font-size: 1.65em;
    color: #fff;
}

.day .right .delight i {
    left: 3.35em;
}

.day .left .delight i {
    left: 2.15em;
}

.day .delight h6 {
    display: inline-block;
    color: #fff;
    margin: 0 0.5em 0 0;
    font-weight: 600;
}

.day .delight span {
    color: #fff;
}

/* ===========================================
   PLACE IMAGE - Photo Side
   =========================================== */
.day .placeImg {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    overflow: hidden;
}

.day .placeImg img {
    height: 100%;
    width: auto;
    min-width: 100%;
    object-fit: cover;
}

.day .left.placeImg {
    left: 0;
}

.day .right.placeImg {
    right: 0;
}

/* ===========================================
   RESPONSIVE
   =========================================== */
@media (max-width: 968px) {
    .day .left,
    .day .right {
        width: 100%;
        float: none;
    }
    
    .day .placeImg {
        position: relative;
        height: 300px;
    }
    
    .day .placeInfo {
        padding: 2em !important;
    }
    
    .day .dayNum {
        left: 50% !important;
        right: auto !important;
        margin-left: -3em;
    }
    
    .tube {
        display: none;
    }
    
    .line {
        display: none;
    }
    
    #car {
        display: none;
    }
}
